
@model Workly.Models.Job

@{
    ViewBag.Title = "Create";
}

<h2>Information</h2>

<table class="table" style="border:2px solid black; border-collapse:collapse; width:200px" >

@using (Html.BeginForm("Edit", "Jobs"))
{
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.Label("Interested")
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            <input type="checkbox">
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7" >
            @Html.LabelFor(m => m.Name)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Name)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse ; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Surname)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Surname)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse ; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Phone)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Phone)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
           @Html.LabelFor(m => m.Work)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
           @Html.DisplayFor(m => m.Work)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Field)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Field)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Start)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
           @Html.DisplayFor(m => m.Start, "{0:yyyy-MM-d}")
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Locality)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
           @Html.DisplayFor(m => m.Locality)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Salary)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Salary)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.LabelFor(m => m.Duration)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Duration)
        </td>
    </tr>
}
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}