@model Workly.Models.WorklyUser
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewList[0].Comment)
            @Html.DisplayFor(model => model.ReviewList[1].Comment)
            @Html.DisplayFor(model => model.ReviewList[2].Comment)
            @Html.DisplayFor(model => model.ReviewList[3].Comment)
            @Html.DisplayFor(model => model.ReviewList[4].Comment)

        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>