@model Workly.Models.WorklyUser
@{
    ViewBag.Title = "Details";
}
<h1>Information</h1>
<table class="table" style="border:2px solid black; border-collapse:collapse; width:200px">

    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse ; background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse ; background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Surname)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(model => model.Surname)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Phone)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(model => model.Phone)
        </td>
    </tr>
    <tr>
        <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Rating)
        </td>
        <td style="border:2px solid black; border-collapse:collapse">
            @Html.DisplayFor(m => m.Rating.Average)
        </td>
    </tr>
        @for (int i = 0; i < Model.ReviewList.Count; i++)
        {
            if (i == 0)
            {
                <tr>
                    <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7">
                        @Html.DisplayNameFor(model => model.Review)
                    </td>

                    <td style="border:2px solid black; border-collapse:collapse">
                        @Html.DisplayFor(model => model.ReviewList[0].Comment)
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="border:2px solid black; border-collapse:collapse; background-color: #C9C7C7"></td>
                    <td style="border:2px solid black; border-collapse:collapse">
                        @Html.DisplayFor(model => model.ReviewList[i].Comment)
                    </td>
                </tr>
            }
        }
       
</table>