@model Workly.Models.WorklyUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorklyUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        @foreach (var item in Model.Reviews)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Stars)
                @Html.DisplayFor(modelItem => item.Comment)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorklyUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
