@model IEnumerable<Workly.Models.WorklyUser>

@{
    ViewBag.Title = "Users";
}

<h2>Current Users</h2>

<table class="table">
    <tr>
        <th style="background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th style="background-color: #C9C7C7">
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th style="background-color: #C9C7C7">rekvizitai.lt rating</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating.Average)
        </td>
        <td>
            8
        </td>
        <td>
            @Html.ActionLink("Add Review", "Edit", new { id=item.WorklyUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorklyUserId }) |
        </td>

    </tr>
}

</table>
